<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('header') -%>

    <div class="mt-5">
      <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="detail-item-image mt-2">
                  <img src="images/<%= data.image %>" alt="">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card detail-item">
                <div class="card-body detail-content">
                  <h5 class="card-title"><%= data.tenTruong %></h5>
                  <p class="card-text"><%= data.content %></p>
                  <div class="detail-rating">
                    <button type="button" class="btn btn-success detail-rating-number"><%= data.diemDanhGia %></button>
                    <div class="detail-rating-text">
                      <h3>Tốt</h3>
                      <span>Top <%= data.topTruong %></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="detail-item-footer">
                <div class="detail-item-footer-info">
                  <i class="fas fa-map-marker-alt"></i>
                  <p><%= data.diaChi %></p>
                </div>
                <div class="detail-item-footer-info">
                  <i class="fas fa-mobile-alt"></i>
                  <p><%= data.soDT %></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="detail-accordion">
                <h3 class="detail-accordion-title">Ưu điểm nổi bật</h3>
                <ul class="detail-accordion-info">
                  <li>
                    <i class="far fa-snowflake"></i>
                    <span>Máy lạnh</span>
                  </li>
                  <li>
                    <i class="fas fa-hdd"></i>
                    <span>Máy chiếu</span>
                  </li>
                  <li>
                    <i class="fas fa-wifi"></i>
                    <span>Wifi</span>
                  </li>
                  <li>
                    <i class="fas fa-book"></i>
                    <span>Thư viện</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="detail-desc">
                <i class="fas fa-star detail-desc-icon"></i>
                <span class="detail-desc-title">Mô tả</span>
                <p><%= data.desc %></p>
              </div>
            </div>
          </div>
        </div>    
      </div>

      <%- include('footer') -%>
</body>
</html>